* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	position: fixed;
	background-color: #b3ffcaf2;
	width: 100%;
}

.sidebar {
	
}

.img-sidebar {
text-align: left;
width: auto;
max-width: 100%;
height: 109px;
border-radius: 40%;

}


#menu {
text-align: center;
position: relative;
width: 100%;
padding: 0px;
margin: 25px;
}
#menu a{
	color: green;
}
#menu a:hover {
	color: pink;	
}

#conteudo {
	position: relative;
	width: 100%;	
	height: 100%;
	overflow-y: auto;
	padding: 0 20%;
	position: fixed;
	top: 177px;
	margin-top: 20px;
}

#conteudo h1 {
	text-align: center;
}