* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.sidebar {
	
}

.img-sidebar {
text-align: left;
width: 50%;
max-width: 100%;
border-radius: 40%;
}


.menu {
text-align: center;
position: relative;
width: 13%;
padding: 50px;
margin: 20px 0;
}
.menu a{
	color: green;
}

.conteudo {
	position: relative;
	left: 25%;
	width: auto;	
	height: 100%;
	overflow-y: auto;
	padding: 0 3%;
	position: fixed;
	top: 35px;
	background-color: green;
}